<div class="refunds">
  <div fxLayout="row" class="page-title-container"> Refunds</div>
  <div class="divider"></div>

  <div class="main-container" fxLayout="row">
    <div class="request-container" fxLayout="column" fxLayoutGap="4px">
      <div *ngFor="let refund of refunds">
        <div fxLayout="row" class="request-card" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="8px">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox color="primary">
              </mat-checkbox>
            </div>
            <div class="info" fxLayout="column">
              <div class="title">Refund request</div>
              <div class="sub-title">{{refund.message}} </div>
              <div class="name-order">
                <div>
                  <img src="../../../../assets/images/profile.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="by"> By <span style="color:#7F6EF0;"> @{{refund.studentName}}</span></div>
              </div>
            </div>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="center none">
            <div class="refund">
              <div class="title">Paid Amount</div>
              <div class="amount">{{refund.refundAmount}} USD</div>
            </div>
            <div class="di"></div>
            <div class="buttons" fxLayout="column" fxLayoutAlign="center stretch">
              <div>
                <button mat-raised-button class="button">Message</button>
              </div>
              <div *ngIf="!refund.isApproved">
                <button (click)="onApprove(refund.id)" mat-raised-button class="button button--white">Approve</button>
              </div>
              <div *ngIf="refund.isApproved">
                <button mat-raised-button class="button button--white">Approved</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="filter-container" fxLayout="column">
      <div fxLayout="row" class="filter-title">Filters</div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="search-container">
        <mat-icon>search</mat-icon>
        <input matInput class="search" placeholder="Search">
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Sort by</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="contactForm" class="form">
          <select formControlName="country" class="select">
            <option [ngValue]="null" disabled>Select Filter</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
          </select>
        </form>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Tutor</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="contactForm" class="form">
          <select formControlName="country" class="select">
            <option [ngValue]="null" disabled>Select Filter</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
          </select>
        </form>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Subjects</div>
    </div>
  </div>
</div>



