<div class="refunds">
  <div fxLayout="row" class="page-title-container"> Refunds</div>
  <div class="divider"></div>

  <div class="main-container" fxLayout="row">
    <div class="request-container" fxLayout="column" fxLayoutGap="4px">
      <div *ngFor="let refund of refunds">
        <div fxLayout="row" class="request-card" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="8px">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox color="primary">
              </mat-checkbox>
            </div>
            <div class="info" fxLayout="column">
              <div class="title">Refund request</div>
              <div class="sub-title">{{refund.message}} </div>
              <div class="name-order">
                <div>
                  <img src="../../../../assets/images/profile.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="by"> By <span style="color:#7F6EF0;"> @{{refund.studentName}}</span></div>
              </div>
            </div>
          </div>

          <div class="actions" fxLayout="row" fxLayoutAlign="center none">
            <div class="refund">
              <div class="title">Paid Amount</div>
              <div class="amount">{{refund.refundAmount}} USD</div>
            </div>
            <div class="di"></div>
            <div class="buttons" fxLayout="column" fxLayoutAlign="center stretch">
              <div>
                <button mat-raised-button class="button">Message</button>
              </div>
              <div *ngIf="!refund.isApproved">
                <button (click)="onApprove(refund.id)" mat-raised-button class="button button--white">Approve</button>
              </div>
              <div *ngIf="refund.isApproved">
                <button mat-raised-button class="button button--white">Approved</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="filter-container" fxLayout="column">
      <div fxLayout="row" class="filter-title">Filters</div>
      <mat-form-field appearance="outline" class="my-form-field">
        <span matPrefix>
          <mat-icon>search</mat-icon> &nbsp;&nbsp;
        </span>
        <input matInput type="search" placeholder="Search Requests">
      </mat-form-field>
      <div class="label">Sort</div>
      <mat-form-field appearance="outline" class="my-form-field">
        <mat-select [(ngModel)]="selectedValue" placeholder="Select">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Type</div>
      <mat-radio-group aria-label="Select an option" fxLayout="row" fxLayoutGap="8px">
        <mat-radio-button value="1" color="primary">Refund</mat-radio-button>
        <mat-radio-button value="2" color="primary">Cancellation</mat-radio-button>
      </mat-radio-group>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Created</div>
      <mat-form-field appearance="outline" class="my-form-field">
        <input matInput [ngxMatDatetimePicker]="picker" [max]="now" placeholder="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker [hideTime]="true" #picker></ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
</div>



