<mat-card style="padding: 24px;">
  <mat-card-title fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="question-title">{{questionNumber}} | {{title}}</div>
      <div *ngIf="status === 'Open'" class="c-chip c-chip--neutral invert-false">Open</div>
      <div *ngIf="status === 'Inprogress'" class="c-chip c-chip--progress">In Progress</div>
      <div *ngIf="status === 'Assigned'" class="c-chip c-chip--subjects invert-false">Assigned</div>
      <div *ngIf="status === 'Cancelled'" class="c-chip c-chip--danger invert-false">Cancelled</div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <div class="c-chip c-chip--subjects invert-false">{{subjects}}</div>
      <div *ngIf="subCategory">
        <div class="c-chip c-chip--info invert-false">{{subCategory}}</div>
      </div>
    </div>
    <div fxLayout="row" class="date">
      Due date &nbsp; {{dueDate.toDate() | date:'yyyy-MM-dd h:mm:ss'}}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" class="title">Hi Tutors,</div>
    <div fxLayout="row" class="description">
      {{description}}
    </div>
  </mat-card-content>
  <div class="divider-card"></div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="bottom-row">
    <div *ngIf="lastAssignedTutorName!=''" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center"
         class="left-container">
      <img *ngIf="lastAssignedTutorImage"
           [src]="lastAssignedTutorImage" alt="Avatar" class="avatar">
      <img *ngIf="lastAssignedTutorImage ===null || lastAssignedTutorImage ===undefined || lastAssignedTutorImage ===''"
           src="{{defaultTutorAvatar}}" alt="Avatar" class="avatar">
      <div class="viewed-by">Last assigned to {{lastAssignedTutorName}}</div>
    </div>
    <div fxLayoutGap="8px" fxLayout="row">
      <button (click)="onViewDetails()" mat-button class="view-details">
        View Details
      </button>
      <button (click)="onViewChat()" [class.dissabled]="!isTutorJoined"
              [disabled]="!isTutorJoined" mat-button class="view-chat">
        View Chat
      </button>

      <button (click)="deleteQuestion()" mat-button class="view-chat">
        Delete Question
      </button>
    </div>
  </div>
</mat-card>
