<!-- web -->
<!-- <div class="add-question"> -->
<div class="form-container">
  <div  mat-dialog-title fxLayout="column" class="top-container" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
      <div class="header-title">View Question</div>
      <div fxLayout="row" fxLayoutGap="10px" class="button-container">
        <button mat-stroked-button class="button-cancel" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
    <div fxLayout="row" class="status-container" fxLayoutGap="8px">
      <div *ngIf="status === 'Open'" class="c-chip c-chip--neutral invert-false">Open</div>
      <div *ngIf="status === 'Inprogress'" class="c-chip c-chip--progress">In Progress</div>
      <div *ngIf="status === 'Assigned'" class="c-chip c-chip--subjects invert-false">Assigned</div>
      <div *ngIf="status === 'Cancelled'" class="c-chip c-chip--danger invert-false">In Progress</div>
      <div class="date-container">{{date | date:'yyyy/MM/dd h:mm:ss a'}}</div>
    </div>
  </div>
  <mat-dialog-content>

    <!--In tutor-->
    <div fxLayout="column" class="bottom-container">
      <div fxLayout="column" class="form-fields">
        <div class="label" style="margin-top: 0px !important;">Question Title</div>
        <div class="tutor-view-container">
          {{questionTitle}}
        </div>
        <div fxLayout="row">
          <div fxLayout="column" class="search-container">
            <div class="label">Subject</div>
            <div class="tutor-view-container">
              {{subjects}}
            </div>
          </div>
          <div fxLayout="column" class="date-container">
            <div class="label">Subject</div>
            <div class="tutor-view-container">
              {{subCategory}}
            </div>
          </div>
          <div fxLayout="column" class="date-container">
            <div class="label">Due date</div>
            <div class="tutor-view-container">
              {{dueDateTime | date:'yyyy/MM/dd h:mm:ss a' }}
            </div>
          </div>
        </div>

        <div class="label" *ngIf="description !== ''">Description</div>
        <div class="tutor-view-container" *ngIf="description !== ''">
          {{description}}
        </div>
      </div>
      <div class="attachment-viewer" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="24px grid">
        <div *ngFor="let attachment of attachments; let i = index" >
          <a fxLayout="column" class="drop-zone" href="{{attachment.downloadUrl}}" target="_blank">
            <div fxLayout="row" fxLayoutAlign="center center">
              <img src="assets/icons/pdf.svg" class="icon-image" *ngIf="attachment.extension.includes('pdf')">
              <img src="assets/icons/jpeg.svg" class="icon-image" *ngIf="attachment.extension.includes('image')">
              <img src="assets/icons/word.png" class="icon-image" *ngIf="attachment.extension.includes('.document')">
              <img src="assets/icons/excel2.png" class="icon-image" *ngIf="attachment.extension.includes('.sheet')">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div class="file-name" >
                {{attachment.fileName}}
              </div>
            </div>
          </a>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 24px" *ngIf="this.data !== null">
        <button mat-flat-button color="warn" *ngIf="role !== 'tutor'">Delete this question</button>
      </div>

    </div>
  </mat-dialog-content>

</div>
<!-- </div> -->
