<div class="manage-tutors">
  <div class="page-title-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <mat-icon>arrow_back</mat-icon>
      <div class="page-title">#DS11221</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button mat-flat-button >Refund</button>
      <button mat-flat-button >Cancel</button>
      <button mat-flat-button color="primary" style="color: white">Mark as fulfilled</button>
    </div>
  </div>
  <div class="divider"></div>

  <div class="main-container" fxLayout="row">
    <div class="request-container" fxLayout="column" fxLayoutGap="24px">
      {{date | date:'yyyy-MM-dd h:mm:ss'}}
    </div>
    <div class="filter-container" fxLayout="column">

    </div>
  </div>

</div>
