//fonts
$heading-desktop-h1:normal 600 4.188rem/6.25rem Roboto, 'Poppins', sans-serif;
$heading-desktop-h2:normal 700 3.188rem/4.813rem Roboto, 'Poppins', sans-serif;
$heading-desktop-h3:normal 700 2.375rem/3.563rem Roboto,'Poppins', sans-serif;
$heading-desktop-h3-light:normal 400 2.375rem/3.563rem Roboto,'Poppins', sans-serif;
$heading-desktop-h4:normal 600 1.75rem/2.625rem Roboto,'Poppins', sans-serif;
$heading-desktop-h4-light:normal 400 1.75rem/2.625rem Roboto,'Poppins', sans-serif;
$heading-desktop-h5:normal 600 1.313rem/2rem Roboto,'Poppins', sans-serif;
$heading-desktop-h6:normal 600 1.125rem/1.537rem Roboto,'Inter', sans-serif;

$body-base-default:normal 400 1rem/1.5rem Roboto,'Manrope', sans-serif;
$body-base-bold:normal 700 1rem/1.5rem Roboto,'Manrope', sans-serif;
$body-base-medium:normal 500 1rem/1.5rem Roboto,'Manrope', sans-serif;

$body-small-default:normal 400 0.875rem/1.375rem Roboto,'Manrope', sans-serif;
$body-small-medium:normal 500 0.875rem/1.375rem Roboto,'Manrope', sans-serif;
$body-small-bold:normal 600 0.875rem/1.375rem Roboto,'Manrope', sans-serif;

$body-caption-default:normal 400 0.75rem/1.125rem Roboto,'Inter', sans-serif;
$body-caption-bold:normal 700 0.75rem/1.125rem Roboto,'Inter', sans-serif;

$body-xsmall-default:normal 400 0.75rem/1.125rem Roboto,'Manrope', sans-serif;
$body-xsmall-bold:normal 700 0.75rem/1.125rem Roboto,'Manrope', sans-serif;

//spaces
$base-space-xs:4px;
$base-space-sm:8px;
$base-space-xmd:12px;
$base-space-md:16px;
$base-space-lg:24px;
$base-space-xl:32px;

//corners
$base-corner-xxs:2px;
$base-corner-xs:4px;
$base-corner-sm:8px;
$base-corner-md:16px;
$base-corner-lg:24px;
$base-corner-xl:32px;

//accent_colors
$accent-Success-foreground:#2A8D55;
$accent-Success-background:#D1FDE4;

$accent-critical-foreground:#AF3232;
$accent-critical-background:#FFD6D6;

$accent-info-foreground:#3E59B8;
$accent-info-background:#D5E0FE;

$accent-warning-foreground: #fc8410;
$accent-warning-background:#FFE8BA;

$accent-pink-foreground:#c51162;
$accent-pink-background:#f8bbd0;

$accent-purple-foreground:#aa00ff;
$accent-purple-background:#e1bee7;

$accent-light-foreground:#e1f5fe;
$accent-light-background:#0091ea;