@mixin home-component($theme){
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, accent);
    $tertiary: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .home{
        .get-helps {
            background: linear-gradient(95.86deg, #26B581 -0.82%, #2FAC7F 45.11%, #27A47E 92.84%);
            margin-top: 16px;
            box-shadow: 0px 22px 100px rgba(46, 163, 65, 0.35);
            border-radius: 8px;
            padding: 16px 32px;
            font: $body-base-bold;
            color: white;
            cursor: pointer;

            .iconr{
                margin-left: 8px;
            }
        }

        .container{
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            background: rgba(51,51,51,0.7);
        }
        
        .card{
            padding: 10px;
            text-align: center;
        }
        
        .title{
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
        }
        
        .banner-web {
            background: url(../../assets/images/Rectangle.png);            
            background-repeat: no-repeat;
            background-size: 100% 403px;
            height: 403px;     
            width: 100%;   
                    
            .image-container {
                position: absolute;
              background: url(../../assets/images/student5.svg);
              background-repeat: no-repeat;
              background-size: 100% 403px;
                width: 50%;
                height: 403px !important;
                margin-left: 50%;
            }

          .image-container-small {
            position: absolute;
            background: url(../../assets/images/student5.svg);
            //background-repeat: no-repeat;
            //background-size: 100% 403px;
            width: 50%;
            height: 403px !important;
            margin-left: 50%;
          }
            .details-container{   
                padding-left: 128px !important;
                // padding-right: 128px !important;
                padding-top: 64px!important;
                padding-bottom: 64px!important;
                position: relative;
                width: 900px;
                z-index: 1; 
                .banner-title{
                    font: $heading-desktop-h2;
                    color: white;
                }
    
                .banner-sub-title{
                    font: $heading-desktop-h5;
                    color: white; 
                    margin-top: 16px;               
                }
    
                .banner-details{
                    font: $body-base-default;
                    color: white; 
                    margin-top: 16px;                
                }                
        
                
            }

        }
        
        .banner-mobile {
            background-color: rgb(255, 255, 255);
            background: #F2F0FE;

        
            .details-container {
                width: 90%; 
                margin-bottom: 20px;
                .get-help-mobile-title{
                    font: $heading-desktop-h3;
                }
                .get-help-mobile-subtitle{
                    font: $heading-desktop-h5;
                }
                .get-help-mobile-description{
                    font: $body-small-default;
                    color: #5B6469;
                }
            }
        
            .image-container {
                margin-top: 16px;
            }
        
            .get-help-mobile-button {
                margin-top: 20px; 
                background: linear-gradient(95.86deg, #26B581 -0.82%, #2FAC7F 45.11%, #27A47E 92.84%);
                width: 100%;
                border-radius: 8px;
                color: white;
                padding: 16px 32px;
                .iconr{
                    margin-left: 8px;
                }
            }
        }
        
        .features-container-web{
            background-color: #FFFFFF;    
            padding: 64px;
        
            .card-container{
                // width: 100%;
                // margin-left: auto !important;
                // margin-right: auto !important;
                padding: 48px 16px 0px 16px !important;

                .card{
                    // width: 100px;
                    .card-title{
                        margin-top: 24px;
                        margin-bottom: 8px;
                        font: $heading-desktop-h5;
                    }
    
                    .card-description{
                        font: $body-base-default;                    
                    }

                }
            }
        
            .heading-container-web{
                // margin-top: 60px;
                text-align: center; 
                width: 500px;               
            
                .features-title{
                    font: $heading-desktop-h2;
                }

                .features-description{
                    font: $body-base-default;
                }

            }
        
            .heading-container-mobile{
                margin-top: 34px;
                text-align: center; 
                width: 100%;
                .features-mobile-heading-title{
                    font: $heading-desktop-h4;
                }
                .features-mobile-heading-subtitle{
                    font: $body-base-default;
                }
            }
        }
        
        .features-container-mobile{
            background-color: #FFFFFF;    
            padding: 16px;
        
            .card-container{
                // width: 100%;
                // margin-left: auto !important;
                // margin-right: auto !important;
                padding: 48px 0px 0px 0px !important;

                .card{
                    // width: 100px;
                    .card-title{
                        margin-top: 24px;
                        margin-bottom: 8px;
                        font: $heading-desktop-h5;
                    }
    
                    .card-description{
                        font: $body-base-default;                    
                    }

                }
            }
        
            .heading-container-web{
                // margin-top: 60px;
                text-align: center; 
                width: 500px;               
            
                .features-title{
                    font: $heading-desktop-h2;
                }

                .features-description{
                    font: $body-base-default;
                }

            }
        
            .heading-container-mobile{
                margin-top: 34px;
                text-align: center; 
                width: 100%;
                .features-mobile-heading-title{
                    font: $heading-desktop-h4;
                }
                .features-mobile-heading-subtitle{
                    font: $body-base-default;
                }
            }
        }

        .client-container-web{
            // width: 100%;
            // height: 610px;
            background: #8C30F5;
            padding-left: 16px;
            padding-right: 16px;

            .client-title-web{
                margin-top: 80px;
                font: $heading-desktop-h2;
                color: white;
                text-align: center;
            }

            .client-title-mobile{
                margin-top: 16px;
                font: $heading-desktop-h4;
                color: white;
                text-align: center;
            }

            .client-feedback-container-web{
                margin-top: 32px;
                margin-bottom: 100px;
                width: 100%;
                .box-client {
                    padding: 32px;
                    width: 70%;
                    border-radius: 10px;
                    background: white;
                    text-align: center;
                    position: relative;
                                  
    
                    .feedback-title{       
                        font: $body-small-medium;
                    }
    
                    .feedback-body{
                        margin-top: 8px;
                        font: $body-small-default;
                    }
                  }
                  
                
                  .b4:before{
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 20px solid white;
                    border-bottom: 10px solid transparent;
                    // right: 49%;
                    bottom: -20px;  
                    
                  } 
    
                .profile-details{
                    margin-top: 28px;
                    .avatar {
                        vertical-align: middle;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                      }
                    
                    .profile-details-name{
                        font: $body-base-bold;
                        color: white;
                    }
                    .profile-details-designation{
                        font: $body-base-default;
                        color: white;
                    }
                }
                
            }

            .client-feedback-container-mobile{
                margin-top: 32px;
                margin-bottom: 32px;
                width: 100%;
                .box-client {
                    padding: 32px;
                    width: 70%;
                    border-radius: 10px;
                    background: white;
                    text-align: center;
                    position: relative;
                                  
    
                    .feedback-title{       
                        font: $body-small-medium;
                    }
    
                    .feedback-body{
                        margin-top: 8px;
                        font: $body-small-default;
                    }
                  }
                  
                
                  .b4:before{
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 20px solid white;
                    border-bottom: 10px solid transparent;
                    // right: 49%;
                    bottom: -20px;  
                    
                  } 
    
                .profile-details{
                    margin-top: 28px;
                    .avatar {
                        vertical-align: middle;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                      }
                    
                    .profile-details-name{
                        font: $body-base-bold;
                        color: white;
                    }
                    .profile-details-designation{
                        font: $body-base-default;
                        color: white;
                    }
                }
                
            }
            
            .button-container{
                margin-top: 40px;
                // margin-bottom: 80px;
        
                .icon{
                    cursor: pointer;
                    color: white;
                    font-size: 15px;
                }
            }
        }
        
        .client-container-mobile{
            width: 100%;
            // height: 610px;
            background: #8C30F5;
            padding-top: 20px;
            padding-bottom: 20px;
        
            .title-container{
                color: #FFFFFF;
                text-align: center;
            }
        
            .feedback-container{
                margin-top: 32px;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
        
                .containerx{
                    width: 100%;           
        
                    .rectangle{
                        background: #FFFFFF;
                        width: 98%;
                        overflow-y: scroll;
                        border-radius: 5px;
                        padding: 5px;
                        text-align: center;
                    }
        
                    .avatar {
                        vertical-align: middle;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                      }
                    
                    .profile-details{
                        margin-top: 28px;
                    }
                }
            }
            .button-container{
                margin-top: 5px;
        
                .icon{
                    cursor: pointer;
                    color: white;
                }
            }
        }
        
        .tutor-feedback{
          padding-top: 60px;
          padding-bottom: 60px;
          padding-left: 20%;
          padding-right: 20%;
          background: #F2F0FE;

          .box {
            padding: 40px;
            border-radius: 10px;
            margin: 64px 0px 36px;
            background: white;
            text-align: center;
            position: relative;
            font: $body-base-default;
          }
          
        
          .feedback-container:before{
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid white;
            border-bottom: 10px solid transparent;
            right: 50%;
            bottom: -30px;
        
            .text-container{
                padding: 40px;
            }
          } 
          .avatar-container{
              margin-top: 36px;
              margin-left: 60px;
            .avatar {
                vertical-align: middle;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                }

            .avatar-name{                
                font: $body-base-bold;
            }

            .avatar-designation{
                font: $body-base-default;
              color: #5B6469;
            }
           }
            
        }
        
        .tutor-feedback-mobile{
            padding:16px;
            background: #F2F0FE;
          
            .box {
                padding: 40px;
                border-radius: 10px;
                margin: 0px 0px 36px;
                background: white;
                text-align: center;
                position: relative;
                font: $body-base-default;
              }
              
            
              .feedback-container:before{
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 20px solid white;
                border-bottom: 10px solid transparent;
                right: 50%;
                bottom: -30px;
            
                .text-container{
                    // padding: 40px;
                }
              } 
              .avatar-container{
                margin-top: 16px;
                cursor: pointer;
                // margin-left: 60px;
              .avatar {
                  vertical-align: middle;
                  width: 46px;
                  height: 46px;
                  border-radius: 50%;
                  }
  
              .avatar-name{                
                  font: $body-base-bold;
              }
  
              .avatar-designation{
                  font: $body-base-default;               
              }
             }
          }
        
        .get-help{
            padding: 32px 128px 32px 128px;
            background: #F6F7FB;

             
            .banner-title{
                font: $heading-desktop-h2;
            }

            .banner-sub-title{
                font: $heading-desktop-h5;              
            }
        
            .button {
                background: linear-gradient(95.86deg, #26B581 -0.82%, #2FAC7F 45.11%, #27A47E 92.84%) !important;
                border-radius: 8px;
                font: $body-base-bold;
                height: 56px;
                width: 181px;
                padding: 8px;
                color: white;
            }
        }
        
        .footer{
            background: #222D34;
            padding: 64px 128px;
            .links{
                font: $body-base-default;
                color: #FFFFFF;
            }
            .copy-right{
                font: $body-small-default;
                color: #FFFFFF;
            }
        }

        .process-web{ 
            padding: 64px 128px;
            .process-title{
                font: $heading-desktop-h2;
                text-align: center;
            }

            .steps{
                margin: 64px auto 0px auto !important;
                padding: 0px;


                .step{
                    padding: 16px 0px;

                    .step-title{
                        text-align: start !important;
                        font:$heading-desktop-h6;
                    }

                    .step-sub-title{
                        text-align: start !important;
                        font:$body-base-default;
                    }
                }
            }
        }

        .process-mobile{ 
            padding: 16px 16px;
            .process-title{
                font: $heading-desktop-h4;
                text-align: center;
            }

            .steps{
                margin: 64px auto 0px auto !important;
                padding: 0px;


                .step{
                    padding: 16px 0px;

                    .step-title{
                        text-align: start !important;
                        font:$heading-desktop-h6;
                    }

                    .step-sub-title{
                        text-align: start !important;
                        font:$body-base-default;
                    }
                }
            }
        }
        
        
    }
}
