<script src="sign-in.component.ts"></script>
<div class="auth">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div mat-dialog-title class="title">Welcome back...</div>
    <form [formGroup]="signInForm">
      <div class="form" fxLayout="column">
        <div class="label">Email address</div>
        <mat-form-field class="my-form-field" appearance="outline">
          <input [pattern]="emailPattern" formControlName="email" matInput type="email" class="other">
        </mat-form-field>
        <div class="label">Password</div>
        <mat-form-field appearance="outline" class="my-form-field">
          <input formControlName="password" matInput type="password" class="other">
        </mat-form-field>
        <div class="confirmation" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <div>
            <a style="color: #228CCD !important;" href="#">Forgot password</a>
          </div>
        </div>
        <button mat-flat-button class="button-reg" (click)="onSignIn()">
          Sign In
        </button>
        <div class="social-media" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
            <div class="stroke"></div>
            <div class="message">Or continue with</div>
            <div class="stroke"></div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="social-media-icons-container" fxLayoutGap="8px">
            <img src="../../../../assets/icons/google-lg.svg" alt="" class="social-media-icon" (click)="onGoogleSignIn()">
            <img src="../../../../assets/icons/facebook-lg.svg" alt="" class="social-media-icon">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

