<div class="tutor-payment">
  <div class="page-title">
    Payments
  </div>
  <div class="divi"></div>
  <div class="main-container" fxLayout="row">
    <div class="left-container" fxLayout="column" fxLayoutGap="8px">
      <div *ngFor="let payment of payments">
        <div class="payment-details-card" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutAlign="start start">
              <div class="bold-text">
                #001
              </div>
              <div class="normal-text">
                {{payment.paidTime | date:'dd/MM/yyyy'}}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                <img *ngIf="payment.studentImage !== '' || payment.studentImage !== null" [src]=payment.studentImage
                     class="avatarx">
                <img *ngIf="payment.studentImage === '' || payment.studentImage === null" [src]=dummyAvatar
                     class="avatarx">
                <div class="normal-text">
                  {{payment.questionTitle}}
                </div>
              </div>
              <div class="bold-text">
                {{payment.questionId}}
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
            <div class="bold-text">
              {{payment.fee}} USD
            </div>
            <button mat-flat-button class="more-button">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container" fxLayout="column">
      <div class="filters">
        Filters
      </div>
      <mat-form-field appearance="outline" class="my-form-field">
        <span matPrefix>
          <mat-icon>search</mat-icon> &nbsp;&nbsp;
        </span>
        <input matInput type="search" placeholder="Search">
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="label">Month</div>
        <mat-form-field appearance="outline" class="my-form-field">
          <mat-select placeholder="Select Month">
            <mat-option *ngFor="let month of months" [value]="month.code">
              {{month.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="label">Sort</div>
        <mat-form-field appearance="outline" class="my-form-field">
          <mat-select [(ngModel)]="selectedValue" placeholder="Select">
            <mat-option *ngFor="let state of states" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="start center" class="label">Tutor</div>
        <mat-form-field appearance="outline" class="my-form-field">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let fruit of selectedTutors"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(fruit)">
              {{fruit}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Type name"
              #fruitInput
              [formControl]="tutorCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredTutors | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="label">Order date from</div>
        <mat-form-field appearance="outline" class="my-form-field">
          <input matInput [ngxMatDatetimePicker]="picker" [max]="now" placeholder="DD/MM/YYYY">
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker [hideTime]="true" #picker></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="label">Price Range</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field appearance="outline" class="my-form-field" style="width: 50%">
            <input matInput type="text" placeholder="Min Value" [formControl]="minValue">
          </mat-form-field>
          <mat-form-field appearance="outline" class="my-form-field" style="width: 50%">
            <input matInput type="text" placeholder="Max Value" [formControl]="maxValue">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
